<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevTrends Relative Example" value=".\nuget" />
    <add key="DevTrends Absolute Example" value="/app/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="DevTrends Relative Example" value="true" />
  </disabledPackageSources>
</configuration>